@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=DM+Sans:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,500;1,500&display=swap');

:root { color: #f5f1e9; font-family: 'DM Sans', sans-serif; font-synthesis: none; }
* { box-sizing: border-box; font-family: 'DM Sans', sans-serif;}
body { margin: 0; min-width: 320px; background: #f5f1e9; font-family: 'DM Sans', sans-serif;}
.bg-body-tertiary {
    background: rgb(201, 238, 201) url('https://media.istockphoto.com/id/2291848265/photo/cardboard-boxes-with-euro-banknotes-packages.jpg?s=1024x1024&w=is&k=20&c=I8RC9mlIsAUhyIR8dCxfxrVr7-PV5J1r78L_z3DHEq8=') !important;
}
.bg-dark-1 {
    background: #e3dac9;
}

.dashboard-tiles-container h3 {
    min-height: 100px;
}
.dashboard-tiles-container p.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 100px;
}

.dashboard-tiles-container img.card-img-top {
    height: 150px;
    object-fit: cover;
}

